.intro-wrapper {
    background-image: url("monstera5.jpg");
	background-size: cover;
	background-position-x: 0%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: seagreen;
	background-size: cover;
}

.intro-mark {
	background-color: #9ef7e5;
	color: midnightblue;
	border: solid 3px midnightblue;
	border-radius: 10px;
}

.intro-text {
	font-size: 7vw;
}

@media only screen and (max-width: 600px) {
	div.intro-wrapper.container-fluid {
        background-attachment: scroll;
	}
}

@media only screen and (min-width: 900px) {
	.intro-text {
		font-size: 6vw;
	}
}

@media only screen and (max-width: 400px) {
	.intro-text {
		font-size: 9vw;
	}
}
