#about{
    scroll-margin-top: 50px;
}

.about-wrapper {
    background-color: whitesmoke;
}

.profile-photo {
    border: 10px solid #343a40;
    border-radius: 10px;
}

.about-title {
    color: #343a40;
}

.small-profile-photo{
    width: 50% !important;
    margin: auto
}

@media only screen and (max-width: 600px) {
    .small-profile-photo{
        width: 100% !important;
      
    }
}