#contact{
    scroll-margin-top: 50px;
}

.contact-wrapper {
    background-color: #aaa;
    background-image: url(monstera-3.jpg);
    background-size: cover;
    background-position-y: center;
    background-position-x: right;
    background-repeat: none;
    background-attachment: fixed;
    

}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-box {
    border: 8px solid #343A40;
    border-radius: 10px;
    padding: 10px;
    color: #343A40;
    background: white;
    /*background: #9ef7e5;*/
}

.contact-title {
    font-size: 8vw;
}

@media only screen and (max-width: 600px) {
	.contact-wrapper {
		background-attachment: scroll;
	}
}