#contact{
    scroll-margin-top: 50px;
}

.contact-wrapper {
    background-color: #aaa;
}

.contact-links a {
    color: midnightblue;
}

.contact-links a:hover {
    color: coral;
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-box {
    border: 5px solid midnightblue;
    border-radius: 10px;
    padding: 10px;
    color: midnightblue;
    background: #9ef7e5;
}

.contact-title {
    font-size: 8vw;
}