a.nav-link:hover  {
    text-decoration: underline seagreen ;
    font-weight: bold;
    color: seagreen !important;
}

a.navbar-brand:hover  {
    color: seagreen !important;
    text-decoration: underline seagreen ;
}